In [1]:
import pandas 
pandas.__version__

'1.4.4'

In [3]:
import pandas as pd 

data = pd.read_csv('exams.csv')
data

        Student name Exam subject   Exam date  Exam score
0       James Walker      Biology  05/06/2016          31
1      Velma Clemons      Biology  05/06/2016          43
2     Kibo Underwood      Biology  05/06/2016          81
3        Louis Mcgee      Biology  05/06/2016          11
4       Phyllis Paul      Biology  05/06/2016          18
5     Zenaida Decker      Biology  05/06/2016          55
6    Gillian Tillman      Biology  05/06/2016          38
7    Constance Boone      Biology  05/06/2016          16
8  Giselle Lancaster      Biology  05/06/2016          73
9   Kirsten Mcdowell      Biology  05/06/2016          14

In [30]:
# print the average score
avg_Bio_score = data['Exam score'].mean()
print('The average score in Biology is:', avg_eng_score)

The average score in Biology is: 38.0

In [29]:
# show who got the highest score 
highest_biology_score = data.loc[(data['Exam subject'] == 'Biology') & (data['Exam date'] == '05/06/2016'), 'Exam score'].max()
highest_biology_score_student = data.loc[(data['Exam subject'] == 'Biology') & (data['Exam date'] == '05/06/2016') & (data['Exam score'] == highest_biology_score), 'Student name'].values[0]
print(f"The student with the highest score in Biology on 05/06/2016 is {highest_biology_score_student}, with a score of {highest_biology_score}.")

The student with the highest score in Biology on 05/06/2016 is Kibo Underwood, with a score of 81.

In [34]:
# who got the lowest score 
lowest_score = data[data["Exam subject"] == "Biology"]["Exam score"].min()
lowest_score_student = data[data["Exam subject"] == "Biology"].loc[data["Exam score"] == lowest_score, "Student name"].item()
print("The student who scored the lowest in the Biology exam on 05/06/2016 was:", lowest_score_student)

The student who scored the lowest in the Biology exam on 05/06/2016 was: Louis Mcgee

In [37]:
# how many student took the test?
num_students = len(data[data["Exam subject"] == "Biology"])
print("The number of students who took the Biology exam on 05/06/2016 was:", num_students)

The number of students who took the Biology exam on 05/06/2016 was: 10

In [39]:
# who got the highest score between zenaida and gillian  
zenaida_score = data[data["Student name"] == "Zenaida Decker"].loc[data["Exam subject"] == "Biology", "Exam score"].item()
gillian_score = data[data["Student name"] == "Gillian Tillman"].loc[data["Exam subject"] == "Biology", "Exam score"].item()
if zenaida_score > gillian_score:
    print("Zenaida Decker scored higher in the Biology exam on 05/06/2016")
else:
    print("Gillian Tillman scored higher in the Biology exam on 05/06/2016")

Zenaida Decker scored higher in the Biology exam on 05/06/2016

In [48]:
# who got the scored closer to the average score, Louis Mcgee or Kirsten Mcdowell
average_score = data["Exam score"].mean()
louis_score = data.loc[data["Student name"] == "Louis Mcgee", "Exam score"].item()
louis_distance = abs(louis_score - average_score)
kirsten_score = data.loc[data["Student name"] == "Kirsten Mcdowell", "Exam score"].item()
kirsten_distance = abs(kirsten_score - average_score)
kirsten_score = data.loc[data["Student name"] == "Kirsten Mcdowell", "Exam score"].item()
kirsten_distance = abs(kirsten_score - average_score)
if louis_distance < kirsten_distance:
    print("Louis Mcgee scored closer to the average score in the Biology exam on 05/06/2016.")
elif kirsten_distance < louis_distance:
    print("Kirsten Mcdowell scored closer to the average score in the Biology exam on 05/06/2016.")
else:
    print("Louis Mcgee and Kirsten Mcdowell scored the same distance from the average score in the Biology exam on 05/06/2016.")

Kirsten Mcdowell scored closer to the average score in the Biology exam on 05/06/2016.

In [54]:
# total sum 
total_score = data["Exam score"].sum()
print("The total sum of scores for the Biology exam on 05/06/2016 is:", total_score)

The total sum of scores for the Biology exam on 05/06/2016 is: 380

In [68]:
# what is the date of the exam? 
exam_date = data[data['Exam subject'] == 'Biology']['Exam date'].iloc[0]
print(f"The Biology exam was held on {exam_date}.")

The Biology exam was held on 05/06/2016.

In [70]:
# What percentage of students scored above 50 in the Biology exam?
num_above_50 = len(data[(data['Exam subject'] == 'Biology') & (data['Exam score'] > 50)])
total_students = len(data[data['Exam subject'] == 'Biology'])
percent_above_50 = (num_above_50 / total_students) * 100
print(f"{percent_above_50:.1f}% of students scored above 50 in the Biology exam.")

30.0% of students scored above 50 in the Biology exam.

In [4]:
# How many students scored more than 70 in the Biology exam?
num_above_70 = len(data[(data['Exam subject'] == 'Biology') & (data['Exam score'] > 70)])
total_students = len(data[data['Exam subject'] == 'Biology'])
percent_above_70 = (num_above_70 / total_students) * 100
print(f"{percent_above_70:.1f}% of students scored above 70 in the Biology exam.")

20.0% of students scored above 70 in the Biology exam.